<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Java基础语法部分/src/基础语法及进阶知识/Chouxianglei.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="基础语法及进阶知识.Chouxianglei"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java基础语法部分"/>
</launchConfiguration>
